@import "antd/dist/reset.css";

/* токены с :root переменными */
@import "./tokens.css";

/* генерируем tailwind-утилиты с префиксом rl- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Realist overrides for AntD Button */
/* @layer components {

  :where(.ant-btn).rl-btn--no-outline,
  :where(.ant-btn).rl-btn--no-outline:hover,
  :where(.ant-btn).rl-btn--no-outline:active,
  :where(.ant-btn).rl-btn--no-outline:focus,
  :where(.ant-btn).rl-btn--no-outline:focus-visible {
    box-shadow: none !important;
    border: 0 !important;
    outline: 0 !important;
  }


  :where(.ant-btn-variant-outlined).rl-btn--no-outline,
  :where(.ant-btn-variant-outlined).rl-btn--no-outline:hover,
  :where(.ant-btn-variant-outlined).rl-btn--no-outline:active {
    box-shadow: none !important;
    border: 0 !important;
  }

  :where(.ant-btn).rl-btn--no-outline::before,
  :where(.ant-btn-variant-outlined).rl-btn--no-outline::before {
    box-shadow: none !important;
    border: 0 !important;
  }
} */
